body {
    font-family: 'Roboto', 'RaleWay';
    height: 1600px;
    height: 2346px;
    background: #FFFFFF;
    color: #212121;
}

nav {
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

}

.logo {
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 200px;
    top: 24px;

    font-family: 'RaleWay';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.logo2 {
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 260px;
    top: 24px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    color: #000000;

}

.menu :hover {
    color: #2196F3;
}

.menu1 {
    /*Студія*/
    color: #212121;
    text-decoration: none;
    position: absolute;
    width: 45px;
    height: 16px;
    left: 438px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.menu2 {
    /*портфоліо*/
    color: #212121;
    text-decoration: none;
    position: absolute;
    width: 72px;
    height: 16px;
    left: 533px;
    top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.menu3 {
    /* Контакти */
    color: #212121;
    text-decoration: none;
    position: absolute;
    width: 64px;
    height: 16px;
    left: 655px;
    top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.email {
    /* info@devstudio.com */
    text-decoration: none;
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1063px;
    top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.phone_number {
    /* +38 096 111 11 11 */
    text-decoration: none;
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1248px;
    top: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.selection1 {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 120px;

    background: #2F303A;
}

.rishennya {
    text-align: center;
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    padding: 12px;
    border-radius: 6px;
    border-color: #d6000000;
}

.details {
    /* УВАГА ДО ДЕТАЛЕЙ */
    position: absolute;
    width: 270px;
    height: 16px;
    left: 210px;
    top: 774px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.details p {
    /* Ідейні міркування, і навіть початок повсякденної роботи з формування позиції. */
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: #757575;


}

.pynktualnist {
    /* ПУНКТУАЛЬНІСТЬ */
    position: absolute;
    width: 270px;
    height: 16px;
    left: 500px;
    top: 774px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.pynktualnist p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: #757575;
}

.plan {
    /* ПЛАНУВАННЯ */

    position: absolute;
    width: 270px;
    height: 16px;
    left: 800px;
    top: 774px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.plan p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: #757575;
}

.technology {
    /* СУЧАСНІ ТЕХНОЛОГІЇ */
    position: absolute;
    width: 270px;
    height: 16px;
    right: 200px;
    top: 774px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.technology p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;
    color: #757575;
}

.selection2 h2 {
    /* Чим ми займаємося */
    position: absolute;
    left: 602px;
    top: 966px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

}

.coding {
    /* img1 */
    position: absolute;
    width: 370px;
    height: 294px;
    left: 200px;
    top: 1058px;
}

.crossplatform {
    /* img2 */

    position: absolute;
    width: 370px;
    height: 294px;
    left: 600px;
    top: 1058px;
}

.design {
    /* img3 */
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1000px;
    top: 1058px;
}

.selection3 h2 {
    /* Наша команда */
    position: absolute;
    left: 653px;
    top: 1525px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

}

.Igor {
    /* card bg */
    position: absolute;
    width: 255px;
    height: 368px;
    left: 200px;
    top: 1632px;

    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.Igor img {
    /* img */
    width: 270px;
    height: 260px;
    border-radius: 0px;
}

.Igor h3 {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

}

.Igor p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.Olga {
    /* card bg */
    position: absolute;
    width: 270px;
    height: 368px;
    left: 485px;
    top: 1632px;

    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.Olga h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

}

.Olga p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.Mukola {
    /* card bg */

    position: absolute;
    width: 270px;
    height: 368px;
    left: 785px;
    top: 1632px;

    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.Mukola h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

}

.Mukola p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

.Michail {
    /* card bg */
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1085px;
    top: 1632px;

    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.Michail h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

}

.Michail p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

footer {
    /* Footer bg */
    position: absolute;
    width: 100%;
    height: 252px;
    left: 0px;
    top: 2094px;

    background: #2F303A;

}

footer a {
    position: absolute;
    top: 60px;
    left: 215px;
}

.address {
    /* м. Київ, пр-т Лесі Українки, 26 */
    text-decoration: none;
    position: absolute;
    width: 231px;
    height: 21px;
    left: 200px;
    top: 111px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.logo_footer a {
    top: 60px;
    left: 200px;
}

.logo_footer .logo2 {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 260px;
    top: 60px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 0.03em;

    color: #ffffff;
}

.email_footer {
    text-decoration: none;
    position: absolute;
    width: 136px;
    height: 21px;
    left: 200px;
    top: 141px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.phone_number_footer {
    /* +38 096 111 11 11 */
    text-decoration: none;
    position: absolute;
    width: 231px;
    height: 21px;
    left: 200px;
    top: 171px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

li {
    list-style-type: none;
}